<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>Title</key>
        <string>General TV Bronze</string>
        <key>Description</key>
        <string>Watch a General video for the first time!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality TV Bronze</string>
        <key>Description</key>
        <string>Watch a Hospitality video for the first time!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare TV Bronze</string>
        <key>Description</key>
        <string>Watch a Healthcare video for the first time!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service TV Bronze</string>
        <key>Description</key>
        <string>Watch a Food Service video for the first time!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience TV Bronze</string>
        <key>Description</key>
        <string>Watch a Retail Without Experience video for the first time!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience TV Bronze</string>
        <key>Description</key>
        <string>Watch a Retail With Experience video for the first time!</string>
    </dict>
	<dict>
		<key>Title</key>
		<string>General Fire Bronze</string>
		<key>Description</key>
		<string>Practice a General video for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hospitality Fire Bronze</string>
		<key>Description</key>
		<string>Practice a Hospitality video for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Healthcare Fire Bronze</string>
		<key>Description</key>
		<string>Practice a Healthcare video for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Food Service Fire Bronze</string>
		<key>Description</key>
		<string>Practice a Food Service video for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Retail Without Experience Fire Bronze</string>
		<key>Description</key>
		<string>Practice a Retail Without Experience video for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Retail With Experience Fire Bronze</string>
		<key>Description</key>
		<string>Practice a Retail With Experience video for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>General Finish Bronze</string>
		<key>Description</key>
		<string>Practice a complete General interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hospitality Finish Bronze</string>
		<key>Description</key>
		<string>Practice a complete Hospitality interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Healthcare Finish Bronze</string>
		<key>Description</key>
		<string>Practice a complete Healthcare interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Food Service Finish Bronze</string>
		<key>Description</key>
		<string>Practice a complete Food Service interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Retail Without Experience Finish Bronze</string>
		<key>Description</key>
		<string>Practice a complete Retail Without Experience interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Retail With Experience Finish Bronze</string>
		<key>Description</key>
		<string>Practice a complete Retail With Experience interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>General Camera Bronze</string>
		<key>Description</key>
		<string>Watch a complete General interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hospitality Camera Bronze</string>
		<key>Description</key>
		<string>Watch a complete Hospitality interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Healthcare Camera Bronze</string>
		<key>Description</key>
		<string>Watch a complete Healthcare interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Food Service Camera Bronze</string>
		<key>Description</key>
		<string>Watch a complete Food Service interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Retail Without Experience Camera Bronze</string>
		<key>Description</key>
		<string>Watch a complete Retail Without Experience interview for the first time!</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Retail With Experience Camera Bronze</string>
		<key>Description</key>
		<string>Watch a complete Retail With Experience interview for the first time!</string>
	</dict>
    <dict>
        <key>Title</key>
        <string>General TV Silver</string>
        <key>Description</key>
        <string>Watch a General video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality TV Silver</string>
        <key>Description</key>
        <string>Watch a Hospitality video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare TV Silver</string>
        <key>Description</key>
        <string>Watch a Healthcare video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service TV Silver</string>
        <key>Description</key>
        <string>Watch a Food Service video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience TV Silver</string>
        <key>Description</key>
        <string>Watch a Retail Without Experience video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience TV Silver</string>
        <key>Description</key>
        <string>Watch a Retail With Experience video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Fire Silver</string>
        <key>Description</key>
        <string>Practice a General video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Fire Silver</string>
        <key>Description</key>
        <string>Practice a Hospitality video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Fire Silver</string>
        <key>Description</key>
        <string>Practice a Healthcare video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Fire Silver</string>
        <key>Description</key>
        <string>Practice a Food Service video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Fire Silver</string>
        <key>Description</key>
        <string>Practice a Retail Without Experience video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Fire Silver</string>
        <key>Description</key>
        <string>Practice a Retail With Experience video for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Finish Silver</string>
        <key>Description</key>
        <string>Practice a complete General interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Finish Silver</string>
        <key>Description</key>
        <string>Practice a complete Hospitality interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Finish Silver</string>
        <key>Description</key>
        <string>Practice a complete Healthcare interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Finish Silver</string>
        <key>Description</key>
        <string>Practice a complete Food Service interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Finish Silver</string>
        <key>Description</key>
        <string>Practice a complete Retail Without Experience interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Finish Silver</string>
        <key>Description</key>
        <string>Practice a complete Retail With Experience interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Camera Silver</string>
        <key>Description</key>
        <string>Watch a complete General interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Camera Silver</string>
        <key>Description</key>
        <string>Watch a complete Hospitality interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Camera Silver</string>
        <key>Description</key>
        <string>Watch a complete Healthcare interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Camera Silver</string>
        <key>Description</key>
        <string>Watch a complete Food Service interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Camera Silver</string>
        <key>Description</key>
        <string>Watch a complete Retail Without Experience interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Camera Silver</string>
        <key>Description</key>
        <string>Watch a complete Retail With Experience interview for 5 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General TV Gold</string>
        <key>Description</key>
        <string>Watch a General video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality TV Gold</string>
        <key>Description</key>
        <string>Watch a Hospitality video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare TV Gold</string>
        <key>Description</key>
        <string>Watch a Healthcare video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service TV Gold</string>
        <key>Description</key>
        <string>Watch a Food Service video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience TV Gold</string>
        <key>Description</key>
        <string>Watch a Retail Without Experience video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience TV Gold</string>
        <key>Description</key>
        <string>Watch a Retail With Experience video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Fire Gold</string>
        <key>Description</key>
        <string>Practice a General video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Fire Gold</string>
        <key>Description</key>
        <string>Practice a Hospitality video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Fire Gold</string>
        <key>Description</key>
        <string>Practice a Healthcare video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Fire Gold</string>
        <key>Description</key>
        <string>Practice a Food Service video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Fire Gold</string>
        <key>Description</key>
        <string>Practice a Retail Without Experience video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Fire Gold</string>
        <key>Description</key>
        <string>Practice a Retail With Experience video for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Finish Gold</string>
        <key>Description</key>
        <string>Practice a complete General interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Finish Gold</string>
        <key>Description</key>
        <string>Practice a complete Hospitality interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Finish Gold</string>
        <key>Description</key>
        <string>Practice a complete Healthcare interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Finish Gold</string>
        <key>Description</key>
        <string>Practice a complete Food Service interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Finish Gold</string>
        <key>Description</key>
        <string>Practice a complete Retail Without Experience interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Finish Gold</string>
        <key>Description</key>
        <string>Practice a complete Retail With Experience interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Camera Gold</string>
        <key>Description</key>
        <string>Watch a complete General interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Camera Gold</string>
        <key>Description</key>
        <string>Watch a complete Hospitality interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Camera Gold</string>
        <key>Description</key>
        <string>Watch a complete Healthcare interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Camera Gold</string>
        <key>Description</key>
        <string>Watch a complete Food Service interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Camera Gold</string>
        <key>Description</key>
        <string>Watch a complete Retail Without Experience interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Camera Gold</string>
        <key>Description</key>
        <string>Watch a complete Retail With Experience interview for 10 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General TV Platinum</string>
        <key>Description</key>
        <string>Watch a General video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality TV Platinum</string>
        <key>Description</key>
        <string>Watch a Hospitality video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare TV Platinum</string>
        <key>Description</key>
        <string>Watch a Healthcare video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service TV Platinum</string>
        <key>Description</key>
        <string>Watch a Food Service video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience TV Platinum</string>
        <key>Description</key>
        <string>Watch a Retail Without Experience video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience TV Platinum</string>
        <key>Description</key>
        <string>Watch a Retail With Experience video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Fire Platinum</string>
        <key>Description</key>
        <string>Practice a General video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Fire Platinum</string>
        <key>Description</key>
        <string>Practice a Hospitality video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Fire Platinum</string>
        <key>Description</key>
        <string>Practice a Healthcare video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Fire Platinum</string>
        <key>Description</key>
        <string>Practice a Food Service video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Fire Platinum</string>
        <key>Description</key>
        <string>Practice a Retail Without Experience video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Fire Platinum</string>
        <key>Description</key>
        <string>Practice a Retail With Experience video for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Finish Platinum</string>
        <key>Description</key>
        <string>Practice a complete General interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Finish Platinum</string>
        <key>Description</key>
        <string>Practice a complete Hospitality interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Finish Platinum</string>
        <key>Description</key>
        <string>Practice a complete Healthcare interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Finish Platinum</string>
        <key>Description</key>
        <string>Practice a complete Food Service interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Finish Platinum</string>
        <key>Description</key>
        <string>Practice a complete Retail Without Experience interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Finish Platinum</string>
        <key>Description</key>
        <string>Practice a complete Retail With Experience interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Camera Platinum</string>
        <key>Description</key>
        <string>Watch a complete General interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Camera Platinum</string>
        <key>Description</key>
        <string>Watch a complete Hospitality interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Camera Platinum</string>
        <key>Description</key>
        <string>Watch a complete Healthcare interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Camera Platinum</string>
        <key>Description</key>
        <string>Watch a complete Food Service interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General TV Diamond</string>
        <key>Description</key>
        <string>Watch a General video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality TV Diamond</string>
        <key>Description</key>
        <string>Watch a Hospitality video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare TV Diamond</string>
        <key>Description</key>
        <string>Watch a Healthcare video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service TV Diamond</string>
        <key>Description</key>
        <string>Watch a Food Service video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience TV Diamond</string>
        <key>Description</key>
        <string>Watch a Retail Without Experience video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience TV Diamond</string>
        <key>Description</key>
        <string>Watch a Retail With Experience video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Camera Platinum</string>
        <key>Description</key>
        <string>Watch a complete Retail Without Experience interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Camera Platinum</string>
        <key>Description</key>
        <string>Watch a complete Retail With Experience interview for 15 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Fire Diamond</string>
        <key>Description</key>
        <string>Practice a General video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Fire Diamond</string>
        <key>Description</key>
        <string>Practice a Hospitality video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Fire Diamond</string>
        <key>Description</key>
        <string>Practice a Healthcare video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Fire Diamond</string>
        <key>Description</key>
        <string>Practice a Food Service video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Fire Diamond</string>
        <key>Description</key>
        <string>Practice a Retail Without Experience video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Fire Diamond</string>
        <key>Description</key>
        <string>Practice a Retail With Experience video for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Finish Diamond</string>
        <key>Description</key>
        <string>Practice a complete General interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Finish Diamond</string>
        <key>Description</key>
        <string>Practice a complete Hospitality interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Finish Diamond</string>
        <key>Description</key>
        <string>Practice a complete Healthcare interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Finish Diamond</string>
        <key>Description</key>
        <string>Practice a complete Food Service interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Finish Diamond</string>
        <key>Description</key>
        <string>Practice a complete Retail Without Experience interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Finish Diamond</string>
        <key>Description</key>
        <string>Practice a complete Retail With Experience interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>General Camera Diamond</string>
        <key>Description</key>
        <string>Watch a complete General interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Hospitality Camera Diamond</string>
        <key>Description</key>
        <string>Watch a complete Hospitality interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Healthcare Camera Diamond</string>
        <key>Description</key>
        <string>Watch a complete Healthcare interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Food Service Camera Diamond</string>
        <key>Description</key>
        <string>Watch a complete Food Service interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail Without Experience Camera Diamond</string>
        <key>Description</key>
        <string>Watch a complete Retail Without Experience interview for 20 days straight!</string>
    </dict>
    <dict>
        <key>Title</key>
        <string>Retail With Experience Camera Diamond</string>
        <key>Description</key>
        <string>Watch a complete Retail With Experience interview for 20 days straight!</string>
    </dict>
</array>
</plist>
