<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeneralFire Badge</key>
	<array>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
		<date>2016-01-12T00:30:40Z</date>
	</array>
	<key>HospitalityFire Badge</key>
	<array/>
	<key>HealthcareFire Badge</key>
	<array/>
	<key>Food ServiceFire Badge</key>
	<array/>
	<key>Retail Without ExperienceFire Badge</key>
	<array/>
	<key>Retail With ExperienceFire Badge</key>
	<array/>
</dict>
</plist>
